<script>

  if (typeof PRODUCTS === 'undefined') {
    PRODUCTS = {};
  }


  PRODUCTS[{{ product.id }}] = {
    title: {{ product.title | json }},
    handle: '{{product.handle}}',
      image : {{ product.featured_image.src | json }},
    options: {{ product.options_with_values | json }},
    variants: {{ product.variants | json }},
    settings: {{ product.metafields.settings | json }},
    group_items: { },
    upsell: []
  };

  {% if product.metafields.group_items %}


  {% if product.metafields.group_items.main %}
  PRODUCTS[{{ product.id }}].group_items.main = {{ all_products[product.metafields.group_items.main].variants | json }}
  {% if product.metafields.group_items.insert %}
  PRODUCTS[{{ product.id }}].group_items.insert = {{ all_products[product.metafields.group_items.insert].variants | json }}
  {% endif %}
  {% endif %}


  {% endif %}


  {% if product.metafields.upsell and product.metafields.upsell.items %}

  PRODUCTS[{{ product.id }}].upsell = {{ product.metafields.upsell.items | split: ' ' }}

  {% endif %}


</script>

<form action="/cart/add" method="post" class="list-view-item product-{{product.id}}" data-id="{{product.id}}" id="{{product.id}}">

  {% if collection.metafields.settings.default %}
  {% assign productCollection = collection %}
  {% else %}

  {% for collection in product.collections %}

  {% if collection.description != blank %}

  {% assign productCollection = collection %}

  {% endif %}

  {% endfor %}

  {% if productCollection == blank and collection != blank %}
  {% assign productCollection = collection %}
  {% endif %}

  {% if collection.template_suffix == 'displays' %}
  {% assign productCollection = collections.displays %}
  {%endif%}
  {%endif%}

  <script>

    {% for variant in product.variants %}

    {% unless variant.option1 contains 'Default' %}

    {% assign bgColor = variant.option1 | replace: ' ', '_' | replace: '/', '_' | downcase %}
    {% assign bgColorFromSetting = 'item_color_' | append : bgColor %}

    if (!AVAILABLE_COLORS['{{bgColor}}']) {

      AVAILABLE_COLORS['{{bgColor}}'] = {
        colorVal: '{{variant.option1}}',
        color: '{{variant.option1 | handleize}}',
        hex: '{{ settings[bgColorFromSetting] }}',
        image: '{{variant.featured_image.src}}',
        src: '{{variant.featured_image.src | img_url}}'
      };

    } else if (!AVAILABLE_COLORS['{{bgColor}}'].image) {
      AVAILABLE_COLORS['{{bgColor}}'].image = '{{variant.featured_image.src}}';
      AVAILABLE_COLORS['{{bgColor}}'].src = '{{variant.featured_image.src | img_url}}';
    }

    {% endunless %}


    {% endfor %}

  </script>

  <div class="page-width">

    <div class="flex">

      <div class="flex flex-7 list-view-item-top">

        {% if product.metafields.custom.label != blank %}
        <span class="custom-label">{{ product.metafields.custom.label }}</span>
        {% endif %}

        <a href="{{ product.url | within: collection }}" class="flex-3 flex flex-center list-view-item-image">
          <img src="{{ 'ajax-loader.gif' | asset_url }}" alt="{{ product.featured_image.alt | escape }}" class="open-image" />
          
        </a>

        <div class="flex-7 list-view-item-info">

          <div class="list-view-item-title-container">
            <a href="{{ product.url | within: collection }}" class="list-view-item-title">
              <span class="">{{ product.title }}</span>
            </a>
            <div class="list-view-item-arrow">

              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="0.5" y="-0.5" width="39" height="39" transform="matrix(1 0 0 -1 0 39)" fill="white"
                  stroke="#BFA159" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M13.2929 16.2929C13.6834 15.9024 14.3166 15.9024 14.7071 16.2929L20 21.5858L25.2929 16.2929C25.6834 15.9024 26.3166 15.9024 26.7071 16.2929C27.0976 16.6834 27.0976 17.3166 26.7071 17.7071L20.7071 23.7071C20.3166 24.0976 19.6834 24.0976 19.2929 23.7071L13.2929 17.7071C12.9024 17.3166 12.9024 16.6834 13.2929 16.2929Z"
                  fill="#BFA159" />
              </svg>

            </div>
          </div>

          <div class="flex list-view-item-metafields">
            {% if product.metafields.dimension.size > 0 or product.metafields.style.style_i != blank %}
            <div class="flex-2-5">
              <div class="">
                <div>
                  <strong>Model #</strong>

                  <span class="text-muted list-view-item-sku"></span>
                </div>
                {% if product.tags contains 'box' %}
                <div>
                  <strong>Insert</strong>

                  <span class="text-muted">{{product.metafields.style.style_i | default :'N\A'}}</span>
                </div>
                {% endif %}


                <div class="">
                  <strong>Size&nbsp;&nbsp;</strong>

                  <div class="flex">

                    {% if product.metafields.dimension.dimension_w != blank %}
                    <div class="flex">
                      <span>W&nbsp;</span>
                      <span class="text-muted">{{product.metafields.dimension.dimension_w}}&nbsp;</span>
                    </div>
                    {% endif %}
                    {% if product.metafields.dimension.dimension_d != blank %}
                    <div class="flex">
                      <span>D&nbsp;</span>
                      <span class="text-muted">{{product.metafields.dimension.dimension_d}}&nbsp;</span>
                    </div>
                    {% endif %}
                    {% if product.metafields.dimension.dimension_h != blank %}
                    <div class="flex">
                      <span>H&nbsp;</span>
                      <span class="text-muted">{{product.metafields.dimension.dimension_h}}&nbsp;</span>
                    </div>
                    {% endif %}
                    {% if product.metafields.dimension.dimension_l != blank %}
                    <div class="flex">
                      <span>L&nbsp;</span>
                      <span class="text-muted">{{product.metafields.dimension.dimension_l}}&nbsp;</span>
                    </div>
                    {% endif %}

                  </div>
                </div>

              </div>

            </div>
            {% endif %}
            <div class="flex-2-5">
              <strong>Price</strong>
              {% include 'product-price' %}
              <div class="list-view-item-pricing">
                <div class="volume-discount"></div>
              </div>

              <strong>Reviews</strong>
              <div class="list-view-item-reviews" style="color: {% if product.metafields.reviews.rating_count > 0 %}#C7A049{% else  %}#ccc{% endif %};">
				
              <div class="stars" >
                 <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path d="M6.23124 11.7696C6.46372 11.6312 6.72929 11.5583 6.99982 11.5586C7.27036 11.5589 7.53578 11.6323 7.76799 11.7711L10.273 13.2689C10.873 13.6274 11.6065 13.0971 11.449 12.4266L10.7912 9.6366C10.7281 9.36868 10.7399 9.08854 10.8254 8.82688C10.9108 8.56522 11.0666 8.33212 11.2757 8.1531L13.4762 6.26835C14.005 5.8161 13.7207 4.95885 13.0262 4.9041L10.1147 4.66035C9.8435 4.63759 9.58357 4.54146 9.3628 4.38226C9.14203 4.22305 8.96873 4.00677 8.86149 3.7566L7.72599 1.10685C7.45749 0.476102 6.54249 0.476102 6.27399 1.10685L5.13999 3.74985C5.03259 3.99964 4.85932 4.21554 4.63871 4.37446C4.41809 4.53338 4.15843 4.62935 3.88749 4.6521L0.97374 4.8966C0.27999 4.95135 -0.00425977 5.8086 0.52374 6.26085L2.72499 8.1456C2.93396 8.3247 3.08963 8.55784 3.17495 8.8195C3.26027 9.08116 3.27196 9.36124 3.20874 9.6291L2.55099 12.4191C2.39349 13.0896 3.12699 13.6191 3.72624 13.2606L6.23124 11.7696V11.7696Z" fill="currentColor"/>
                 </svg>
                 <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path d="M6.23124 11.7696C6.46372 11.6312 6.72929 11.5583 6.99982 11.5586C7.27036 11.5589 7.53578 11.6323 7.76799 11.7711L10.273 13.2689C10.873 13.6274 11.6065 13.0971 11.449 12.4266L10.7912 9.6366C10.7281 9.36868 10.7399 9.08854 10.8254 8.82688C10.9108 8.56522 11.0666 8.33212 11.2757 8.1531L13.4762 6.26835C14.005 5.8161 13.7207 4.95885 13.0262 4.9041L10.1147 4.66035C9.8435 4.63759 9.58357 4.54146 9.3628 4.38226C9.14203 4.22305 8.96873 4.00677 8.86149 3.7566L7.72599 1.10685C7.45749 0.476102 6.54249 0.476102 6.27399 1.10685L5.13999 3.74985C5.03259 3.99964 4.85932 4.21554 4.63871 4.37446C4.41809 4.53338 4.15843 4.62935 3.88749 4.6521L0.97374 4.8966C0.27999 4.95135 -0.00425977 5.8086 0.52374 6.26085L2.72499 8.1456C2.93396 8.3247 3.08963 8.55784 3.17495 8.8195C3.26027 9.08116 3.27196 9.36124 3.20874 9.6291L2.55099 12.4191C2.39349 13.0896 3.12699 13.6191 3.72624 13.2606L6.23124 11.7696V11.7696Z" fill="currentColor"/>
                 </svg>
                 <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path d="M6.23124 11.7696C6.46372 11.6312 6.72929 11.5583 6.99982 11.5586C7.27036 11.5589 7.53578 11.6323 7.76799 11.7711L10.273 13.2689C10.873 13.6274 11.6065 13.0971 11.449 12.4266L10.7912 9.6366C10.7281 9.36868 10.7399 9.08854 10.8254 8.82688C10.9108 8.56522 11.0666 8.33212 11.2757 8.1531L13.4762 6.26835C14.005 5.8161 13.7207 4.95885 13.0262 4.9041L10.1147 4.66035C9.8435 4.63759 9.58357 4.54146 9.3628 4.38226C9.14203 4.22305 8.96873 4.00677 8.86149 3.7566L7.72599 1.10685C7.45749 0.476102 6.54249 0.476102 6.27399 1.10685L5.13999 3.74985C5.03259 3.99964 4.85932 4.21554 4.63871 4.37446C4.41809 4.53338 4.15843 4.62935 3.88749 4.6521L0.97374 4.8966C0.27999 4.95135 -0.00425977 5.8086 0.52374 6.26085L2.72499 8.1456C2.93396 8.3247 3.08963 8.55784 3.17495 8.8195C3.26027 9.08116 3.27196 9.36124 3.20874 9.6291L2.55099 12.4191C2.39349 13.0896 3.12699 13.6191 3.72624 13.2606L6.23124 11.7696V11.7696Z" fill="currentColor"/>
                 </svg>
                 <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path d="M6.23124 11.7696C6.46372 11.6312 6.72929 11.5583 6.99982 11.5586C7.27036 11.5589 7.53578 11.6323 7.76799 11.7711L10.273 13.2689C10.873 13.6274 11.6065 13.0971 11.449 12.4266L10.7912 9.6366C10.7281 9.36868 10.7399 9.08854 10.8254 8.82688C10.9108 8.56522 11.0666 8.33212 11.2757 8.1531L13.4762 6.26835C14.005 5.8161 13.7207 4.95885 13.0262 4.9041L10.1147 4.66035C9.8435 4.63759 9.58357 4.54146 9.3628 4.38226C9.14203 4.22305 8.96873 4.00677 8.86149 3.7566L7.72599 1.10685C7.45749 0.476102 6.54249 0.476102 6.27399 1.10685L5.13999 3.74985C5.03259 3.99964 4.85932 4.21554 4.63871 4.37446C4.41809 4.53338 4.15843 4.62935 3.88749 4.6521L0.97374 4.8966C0.27999 4.95135 -0.00425977 5.8086 0.52374 6.26085L2.72499 8.1456C2.93396 8.3247 3.08963 8.55784 3.17495 8.8195C3.26027 9.08116 3.27196 9.36124 3.20874 9.6291L2.55099 12.4191C2.39349 13.0896 3.12699 13.6191 3.72624 13.2606L6.23124 11.7696V11.7696Z" fill="currentColor"/>
                 </svg>
                 <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path d="M6.23124 11.7696C6.46372 11.6312 6.72929 11.5583 6.99982 11.5586C7.27036 11.5589 7.53578 11.6323 7.76799 11.7711L10.273 13.2689C10.873 13.6274 11.6065 13.0971 11.449 12.4266L10.7912 9.6366C10.7281 9.36868 10.7399 9.08854 10.8254 8.82688C10.9108 8.56522 11.0666 8.33212 11.2757 8.1531L13.4762 6.26835C14.005 5.8161 13.7207 4.95885 13.0262 4.9041L10.1147 4.66035C9.8435 4.63759 9.58357 4.54146 9.3628 4.38226C9.14203 4.22305 8.96873 4.00677 8.86149 3.7566L7.72599 1.10685C7.45749 0.476102 6.54249 0.476102 6.27399 1.10685L5.13999 3.74985C5.03259 3.99964 4.85932 4.21554 4.63871 4.37446C4.41809 4.53338 4.15843 4.62935 3.88749 4.6521L0.97374 4.8966C0.27999 4.95135 -0.00425977 5.8086 0.52374 6.26085L2.72499 8.1456C2.93396 8.3247 3.08963 8.55784 3.17495 8.8195C3.26027 9.08116 3.27196 9.36124 3.20874 9.6291L2.55099 12.4191C2.39349 13.0896 3.12699 13.6191 3.72624 13.2606L6.23124 11.7696V11.7696Z" fill="currentColor"/>
                 </svg>
               </div>
         
                     
               {% if product.metafields.reviews.rating_count %}
                 {{product.metafields.reviews.rating_count}} {{ product.metafields.reviews.rating_count | pluralize: 'Review', 'Reviews' }}
               {% else %}
                 0 Reviews
               {% endif %}
               
             </div>
            </div>

          </div>


        </div>

      </div>

      <div class="flex-3 list-view-item-form">
        <div class="">
          <div class="">
            {% if showPringing and product.metafields.custom.disable_printing != true %}

            <div class="list-view-item-printing">
              {% comment %} <strong class="gold">
                Imprinting &nbsp;&nbsp;
              </strong> {% endcomment %}

                <div class="btn btn-gold-light" ng-show="!vm.applyToItems['{{product.id}}']" ng-click="vm.openPrintingPanel('{{product.id}}')">
                      <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="6" y="0.5" width="1" height="13" fill="#C7A049"/>
                        <rect x="13" y="6.5" width="1" height="13" transform="rotate(90 13 6.5)" fill="#C7A049"/>
                      </svg>                      
                      ADD STAMP                        
                  </div>

              <div class="displayNone product-printing-selected-locations" ng-class="{'displayNone':!vm.applyToItems['{{product.id}}'].length}">
                <div ng-repeat="location in vm.applyToItems['{{product.id}}']" data-productid="{{product.id}}"
                  class="stamp-preview-container flex flex-align-center flex-justify-between js-open-printing-modal js-open-printing-modal-add"
                  ng-click="vm.openPrintingPanel('{{product.id}}')">

                
                  {% raw %}
                    <div class="js-item-properties selected-printing-options">
                        <div class="no-wrap location-title" ng-bind="location.location"></div>
                        <div ng-if="location.type === 'plate'">Plate on file</div>
                        <div ng-if="location.type === 'upload'" ng-bind="location.file.name"></div>
                        <div ng-if="location.type === 'custom'">Custom</div>
                        <div class="location-color">
                          <div class="location-color-img" data-imprinting-color="{{location.color}}"></div>
                          <div ng-bind="location.color"></div>
                        </div>
                    </div>
                  {% endraw %}
                  
                  {% raw %}
                  <input type="hidden" data-location-color="{{location.location}}"
                    name="properties[Printing {{location.location}} color]" value="{{location.color}}">
                  <input type="hidden" data-location-plate="{{location.location}}" ng-if="location.type === 'plate'"
                    name="properties[_Printing {{location.location}} plate]" value="Yes">
                  <input type="hidden" data-location-file="{{location.location}}" ng-if="location.type === 'upload'"
                    name="properties[_Printing {{location.location}} file]" value="{{location.file.name}}">
                  <div data-location-custom ng-if="location.type === 'custom'">
                    <input type="hidden" name="properties[_Printing {{location.location}} custom]" value="custom">
                    <div ng-repeat="(group, groupValue) in location.logoSettings">
                      <input type="hidden" ng-repeat="(setting, settingValue) in location.logoSettings[group]"
                        name="properties[_Printing {{location.location}} {{group}} {{setting}}]"
                        value="{{location.logoSettings[group][setting]}}">
                    </div>
                  </div>
                  {% endraw %}
                </div>
              </div>



            </div>
            {% endif %}

          </div>
        </div>

        <div class="product-vailable-colors {% if product.options_by_name['Color'].values.size < 1 %} hide{% endif %}">
          <strong class="gold">Color</strong>
          <div class="flex">

            {% for variant in product.variants %}
            {% if variant.option1 contains 'Default' %}
            <input type="hidden" name="id" value="{{ variant.id }}" checked data-sku="{{ variant.sku }}" />
            {% else %}
            <div
              class="displayNone list-view-item-color list-view-item-color-{{ variant.option1 | handleize }} list-view-item-bulk-{{ variant.option2 | escape }}">
              <label class="checkbox" title="{{ variant.option1 }}">

                {% if variant.available %}{% endif %}
                <input type="radio" name="id" value="{{ variant.id }}" {% if forloop.first==true %} checked {%endif%}
                  data-sku="{{ variant.sku }}" data-color="{{ variant.option1 | handleize }}"
                  data-image="{{ variant.image  | img_url: '95x95', scale: 2 }}"
                  {% if variant.metafields.custom.hover_image %}
                  data-hover-image="{{ variant.metafields.custom.hover_image  | img_url: '95x95', scale: 2 }}"
                  {% endif %}
                >


                {% assign bgColor = variant.option1 | handleize %}
                {% assign bgColorFromSetting = 'item_color_' | append : bgColor %}
                {% assign collectionColor = productCollection | append : bgColor %}

                <span class="{{bgColorFromSetting}} color-{{productCollection.handle}}_{{bgColor}}"
                  data-color="{{productCollection.handle}}_{{bgColor}}"
                  style="background-color:{{ settings[bgColorFromSetting] }};"></span>

              </label>
            </div>
            {% endif %}
            {% endfor %}



          </div>
        </div>

        <div class="flex list-view-item-actions">


          {% assign soldIn = product.variants[0].option2 %}

          {% if soldIn == 1 or soldIn == '1' or soldIn == blank %}
          <input type="number" placeholder="Qty" name="quantity" class="btn-black-light qty-input">
          {%else%}
          <select name="quantity" class="btn-black-light qty-input">
            {% for i in (1..200) %}
            <option>{{i | times:soldIn}}</option>
            {% endfor %}
          </select>
          {%endif%}

          <span>&nbsp;&nbsp;</span>
          <div class="flex-auto">
            <button type="submit" class="btn btn-black-dark"> Add To Order</button>
            <div class="qty-error"></div>
          </div>

        </div>

      </div>

    </div>



  </div>

</form>

{% comment %}

<div class="list-view-item__image-column">
  <div class="list-view-item__image-wrapper">

  </div>
</div>

<div class="list-view-item__title-column">

  <a href="{{ product.url | within: collection }}" class="list-view-item__title">{{ product.title }}</a>

  {% if product.compare_at_price > product.price %}
  <div class="list-view-item__on-sale">{{ 'products.product.on_sale' | t }}</div>
  {% endif %}
  {% if section.settings.show_vendor %}
  <div class="list-view-item__vendor medium-up--hide">{{ product.vendor }}</div>
  {% endif %}
  {% unless product.available %}
  <div class="list-view-item__sold-out">{{ 'products.product.sold_out' | t }}</div>
  {% endunless %}
</div>

{% if section.settings.show_vendor %}
<div class="list-view-item__vendor-column small--hide">
  <div class="list-view-item__vendor">{{ product.vendor }}</div>
</div>
{% endif %}

<div class="list-view-item__price-column">
  {% include 'product-price' %}
</div>

{% endcomment %}