<div class="page-width shop-page-boxes">
  
  <div class="section-header text-center">
    	<h1 class="font-default gold">{{ page.title }}</h1>
  </div>
  
  <div class="flex">
  		
    	<div class="flex-5 shop-box">
          
          <a href="/pages/boxes" class="shop-box-inner flex" style="background-image:url('{{ 'boxes.png' | file_img_url: 'large'}}');">
            	
            	<div class="box-text">
                  	<div class="box-text-small fs14">In-stock</div>
                  	<div class="box-text-large fs22">BOXES</div>
            	</div>
            
          </a>
    
    	</div>
    
    	<div class="flex-5 shop-box">
          
          <a href="/pages/displays" class="shop-box-inner flex" style="background-image:url('{{ 'displays.png' | file_img_url: 'large'}}');">
            	<div class="box-text">
                  	<div class="box-text-small fs14">In-stock</div>
                  	<div class="box-text-large fs22">DISPLAYS</div>
            	</div>
          </a>
    
    	</div>
    
  </div>
  
  <div class="flex">
  		
    	<div class="flex-5 shop-box">
          
          <a href="/pages/pouches-bags" class="shop-box-inner flex" style="background-image:url('{{ 'bags.png' | file_img_url: 'large'}}');">
            	<div class="box-text">
                  	<div class="box-text-small fs14">In-stock</div>
                  	<div class="box-text-large fs22">BAGS & POUCHES</div>
            	</div>
          </a>
    
    	</div>
    
    	<div class="flex-5 shop-box">
          
          <a href="/pages/custom" class="shop-box-inner flex flex-center flex-column">
            	<div class="box-text-small fs14">Discover Our</div>
            	<div class="gold font-script fs40">Custom Design</div>	
            	<div class="box-text-large fs20">SERVICES</div>
            	<img src="{{ 'scketch.png' | file_img_url: 'large'}}">
          </a>
    		
    	</div>
    
  </div>
  
</div>