<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
<script src="https://sapi.negate.io/script/701EmYIkBpguHmKyJ4d6rQ==?shop=allurepack.myshopify.com"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  {% if page.metafields.seo.noindex == 'true' or collection.metafields.seo.noindex == 'true' or product.metafields.seo.noindex == 'true' or page.metafields.seo.noindex == true or collection.metafields.seo.noindex == true or product.metafields.seo.noindex == true %}
  	<meta name="robots" content="noindex">
  {% endif %}
  
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
   
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  <style>
    :root{
      --gold:#C7A049;
      --black: #2F2923;
  }
  </style>

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'main.scss.css' | asset_url | stylesheet_tag }}
  {{ 'header.css' | asset_url | stylesheet_tag }}
  
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/xga5wgc.css">
	
  
  {% if article or blog %}
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
      
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  {% endif %}
  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      
    if(window.location.search.indexOf('gclid=')){
      	
      	localStorage.setItem('CFGA', true);
      
    }
  </script>
 
 

  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->
  
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'api.jquery.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'api.jquery.js' | shopify_asset_url }}"></script><![endif]-->
  
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'loader.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'loader.js' | asset_url }}"></script><![endif]-->
  
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'main.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'main.js' | asset_url }}"></script><![endif]-->
  <script src="https://analytics.ahrefs.com/analytics.js" data-key="vdxe897tiYD0w1mu7gWiXQ" async></script>
  
  {{ content_for_header }}
  
  {% comment %}
<!--  App was deleted  -->
{%- render 'bold-common' -%}

{{ 'bold-brain-widget.css' | asset_url | stylesheet_tag }}
  {% endcomment %}

  <meta name="p:domain_verify" content="1882b5e341005437dc8cb3c2a33ae940"/>

{% render 'pagefly-header' %}
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M02YR2R7YF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-M02YR2R7YF');
</script>
 

{% include 'pagefly-app-header' %}
<script id='merchantWidgetScript' src="https://www.gstatic.com/shopping/merchant/merchantwidget.js" defer></script>
<script type="text/javascript">
  merchantWidgetScript.addEventListener('load', function () {
    merchantwidget.start({
      position: 'LEFT_BOTTOM'
    });
  });
</script>
</head> <div class='evm-multiple evm-us-main-div' data-page='{{template}}'></div>
<body class="template-{{ template | split: '.' | first }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="SearchDrawer" class="search-bar drawer drawer--top">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="header-group">
  {% section 'promotion-banner' %}
  {% section 'new-header' %}   
  </div>

  <div class="page-container" id="PageContainer">
    
    {% include 'breadcrumb' %} 
    
    <main class="main-content" id="MainContent" role="main">      
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

  </div>
  
  <div class="alert">
    <div class="alert-inner"></div>
  </div>
 
  <script type="text/javascript">
  var _learnq = _learnq || [];

  _learnq.push(['account', 'JbPn8e']);

  (function () {
  var b = document.createElement('script'); b.type = 'text/javascript'; b.async = true;
  b.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'a.klaviyo.com/media/js/analytics/analytics.js';
  var a = document.getElementsByTagName('script')[0]; a.parentNode.insertBefore(b, a);
  })();
</script>
  
<script type="text/javascript">
    $("input[name='contact[email]']").on('blur', function(e) {
        e.preventDefault();
        var email = $(this).val();
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "https://manage.kmail-lists.com/subscriptions/external/subscribe",
            "method": "POST",
            "headers": {
                "content-type": "application/x-www-form-urlencoded",
                "cache-control": "no-cache"
            },
            "data": {
                "g": "LfjwKB",
                "$fields": "$source",
                "email": email,
                "$source": "Shopify form"
            }
        };
        $.ajax(settings).done(function (response) {
            console.log(response);
        });
    });
</script>
  
<!-- google dynamic remarketing tag for theme.liquid -->
    {% if template contains 'product' %}
        <script type="text/javascript">
            var json_product = {{ product | json }};
        </script>
        <script>
            var ecomm_prodid=[];
            for(var i=0;i<json_product.variants.length;i++)
                ecomm_prodid.push(json_product.variants[i].id);
        </script>
        <script type="text/javascript">
            var google_tag_params = {
                ecomm_prodid: ecomm_prodid,
                ecomm_pagetype: 'product',
                ecomm_totalvalue: parseFloat('{{ product.price | money_without_currency | remove: ","}}')
            };
        </script>
    {% elsif template contains 'collection' %}
        <script type="text/javascript">
            var google_tag_params = {
                ecomm_pagetype: 'category'
            };
        </script>
    {% elsif template contains 'cart' %}
        <script type="text/javascript">
        var id = new Array();
        {% for item in cart.items %}
        id.push('{{item.variant.id}}');
        {% endfor %}
        
            var google_tag_params = {
                ecomm_prodid: id,
                ecomm_pagetype: 'cart',
                ecomm_totalvalue: parseFloat('{{ cart.total_price | money_without_currency | remove: ","}}')
            };
        </script>
    {% elsif template contains 'search' %}
        <script type="text/javascript">
            var google_tag_params = {
                ecomm_pagetype: 'searchresults'
        };
        </script>
    {% elsif template contains 'index' %}
        <script type="text/javascript">
            var google_tag_params = {
                ecomm_pagetype: 'home'
            };
        </script>
    {% else %}
        <script type="text/javascript">
            var google_tag_params = {
                ecomm_pagetype: 'other'
            };
        </script>
    {% endif %}
 <script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 880263494;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/880263494/?guid=ON&amp;script=0"/>
</div>
</noscript>


{% include 'modal' %}
  {% if customer %}
  <script type="text/javascript">
   window.customerEmail = "{{ customer.email }}";  
   window._loq = window._loq || [];
   window._loq.push(["tag", "{{ customer.email }}"]);
  </script>
{% endif %}

<!-- Bing Ads -->
<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"25016027"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>


{% if customer.tags contains 'NET30' %}

    <script>

      	localStorage.setItem('NET30', true)

    </script>           
                  
{% else %}
                  
    <script>

      	localStorage.removeItem('NET30')

    </script> 
                  
{% endif %}
  
  
{% if shop.metafields.free_gift and shop.metafields.free_gift.item and shop.metafields.free_gift.code and shop.metafields.free_gift.min_order_amount %}
  <script>

    window.free_gift_min_order_amount = {{shop.metafields.free_gift.min_order_amount}}
    window.free_gift_code = '{{shop.metafields.free_gift.code}}';
    window.free_gift_item = {{all_products[shop.metafields.free_gift.item] | json}}

  </script>
{% endif %}
  
  
{% if shop.metafields.settings.printing_delay_rush_item %}
<script>
    window.RUSH_PRINTING = {{all_products[shop.metafields.settings.printing_delay_rush_item] | json}}  ;
</script>
{% endif %}
  
</body>
</html>


{% include 'fbrb' %}

{% render 'fbrb' %}